:root{
    --primary: #006BFF;
    --secundary: #000000;
    --third : #FBFBFB;
    --white: #FFFFFF;
}
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
.body1{
/* Desktop/body1 - Regular */
    font-family: 'Inter', sans-serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    /* or 200% */
    
    display: flex;
    align-items: center;
    letter-spacing: -0.002em;
    /* Black */
    color: var(--secundary); 
}
.body3{
    /* Desktop/body3 - Regular */
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    letter-spacing: -0.001em;
    padding-bottom: 24px;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span{
    color: var(--primary);
}
h1{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: -0.009em;
    color: var(--secundary);
}
h2{
    /* Desktop/h2 */
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 65px;
    /* identical to box height, or 125% */
    letter-spacing: -0.005em;
    color: var(--secundary);
}
h3{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px; 
    letter-spacing: -0.004em;
    color: var(--secundary);
}
h4{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */
    letter-spacing: -0.003em;
    color: var(--secundary);
    padding-bottom: 32px;
}
h5{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 125% */
    letter-spacing: -0.003em;
    color: var(--secundary);
}
h5.medium{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px; 
}
p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
}
.textCentro{
    text-align: center;
}
.mayus{
    text-transform: uppercase;
}
.derecha{
    text-align: right;
}
/* Header */

header{
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(10, 1fr) ;
    max-width: 1980px;
    margin: 0 auto;
    height: 96px;
    background: var(--white);
    grid-template-areas:
    "logo logo . tabs tabs tabs . actions actions actions";
    padding: 24px 83px;
}
.fixed-top{
    z-index: 10000; 
    position: fixed;
    box-shadow: 0px 1px 6px 3px rgb(148 148 148 / 12%);
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    top: 0;
    left: 0;
    transform: translate(calc(49.1vw - 49.5%));

}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.flex{
    display: flex;
}
.flexWrap{ 
    display: flex;
    flex:1;
    flex-wrap: wrap;
    justify-content: space-between;
}
.divLogo{
    grid-area: logo;
}
.alignCenter{
    align-items: center;
}
.alignJustifyCenter{
    justify-content: center;
    align-items: center;
}
.logo{
    width: 165.75px;
    height: 40px;
}
.tabs{
    grid-area: tabs;
}
.actions{
    grid-area: actions;
}
ul.menu > li{
    margin: 0 16px;
    list-style-type: none;
}
li{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}
.btn{ 
    border-radius: 40px;
    cursor: pointer;
    /* padding: 10px 24px; */
    padding: 10px 14px;
}
.btn-primary{
    color: var(--secundary); 
}
.btn-blue{
    color: var(--white);
    background-color: var(--primary);
}
/* Hero */
.hero{
    display: grid;
    max-width: 1980px;
    margin: 0 auto;
    height: 500px;
    padding: 128px 83px;
    grid-template: repeat(8, 1fr) / repeat(8, 1fr) ;
    grid-template-areas:
    "info info info info comp comp comp comp"
    "info info info info comp comp comp comp"
    "info info info info comp comp comp comp"
    "info info info info comp comp comp comp"
    "info info info info comp comp comp comp"
    "info info info info comp comp comp comp";
}
.info{
    grid-area: info;
}
.info span{
    color: var(--primary);
}
.comp{
    grid-area: comp;
    width: 90%;
} 
.form-control{ 
    background: #FBFBFB;
    /* Grey */
    padding: 12px 24px;

    border: 1px solid #CECECE;
    box-sizing: border-box;
    border-radius: 40px;
    
}
/*Clearing Floats*/
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}    
/* Form wrapper styling */

.search-wrapper {
    max-width: 450px;
    width: 98%;
    border-radius: 40px;
    background: transparent;
    box-shadow: 0 4px 20px -2px #e9e9e9;
    border: 1px solid #CECECE;
    background: var(--third);
}

/* Form text input */

.search-wrapper input {
    padding-left: 20px;
    max-width: 260px;
    height: 20px;
    padding: 20px 20px;
    float: left;
    border: 0;
    border-radius: 40px;
    border-top-style: none;
    background-color: rgba(255, 255, 255, 0);
}

.search-wrapper input:focus {
    outline: 0;
    box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    /* padding-left: 20px; */
}

.search-wrapper input:-moz-placeholder {
    
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  border-style: none;
}   

/* Form submit button */
.search-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 60px;
    width: 150px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: var(--white);
    text-transform: uppercase;
    background: var(--secundary);
    border-radius: 40px;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 30%);
} 
.search-wrapper button:active,
.search-wrapper button:focus{  
    background: var(--secundary);
    outline: 0;  
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #c42f2f;
}     

.search-wrapper button::-moz-focus-inner { 
    /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}
.espaciSecc{
    padding: 80px 83px;
}
/* Programación */
.programacion{
    background: var(--third);
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(6, 1fr);
    max-width: 1980px;
    margin: 0 auto;
    height: 200px;
    grid-template-areas:
    "titleProg titleProg titleProg titleProg titleProg titleProg" 
    "compas drop ebay lazboy gartner twilio" ;
}
.progMax{
    max-width: 599px;
    text-align: center;
    padding-bottom: 64px;
}
.titleProg{
    grid-area: titleProg;
}
.compas{
    grid-area: compas;
    width: 90%;
}
.drop{
	grid-area: drop;
    width: 90%;
}
.ebay{
	grid-area: ebay;
    width: 90%;
}
.lazboy{
	grid-area: lazboy;
    width: 90%;
}
.gartner{
	grid-area: gartner;
    width: 90%;
}
.twilio{
	grid-area: twilio;
    width: 90%;
}
/* Calendly */
.calelAccion{
    max-width: 1980px;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    grid-template-areas:
        "titleCalendly titleCalendly titleCalendly"
        "imgCalendly imgCalendly imgCalendly"
        "divCalendly divCalendly divCalendly";
    height: max-content;
}
.titleCalendly{
	grid-area:titleCalendly;
    align-self: center;
}
.imgCalendly{
	grid-area:imgCalendly;
    padding: 96px 0px;
}
.calendlyPng{
    border-radius: 47.04px;
}
.divCalendly{
	grid-area:divCalendly;
}
.divCalendly{
	grid-area:divCalendly;
}
.textIntern{
    flex: 0 1 calc(33% - 1em);
    border-left: 1px solid #eee;
}
.textIntern:before {
    content:"1";
    position: absolute;
    width: 30px;
    text-align: center;
    color: var(--white);
    font-weight: 800;
    padding-top: 5px;
    height: 25px;
    border-radius: 100%;
    margin-left: -15px;
    background-color: var(--primary);
}
.textIntern:after{ 

    content:"";
    display:table;
}
.spacioIntern{
    padding-left: 40px;
}
/* Elementos */
.elementos{
    display: grid;
    max-width: 1980px;
    margin: 0 auto;
    height: max-content;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    grid-template-areas:
        "elementoTitle elementoTitle"
        "elementoImg elementoImg"
        "mainButton mainButton";
}
.elementoTitle{
	grid-area:elementoTitle;
}
h5.spah5Title{
    padding-top: 40px;
    padding-bottom: 80px;
}
.elementoImg{
	grid-area:elementoImg;
}
.maxElementos{
    max-width: 800px;
}
.elementosImgInterno{
    flex: 0 1 calc(50% - 1em);
}
.elementoSpacioIntern{
    padding: 40px 0px;
}
.sixeImgElement{
    /* */
    max-width: 350px; 
    width: 90%;
    max-height: 90%;
    height: 276px;
}
.spacioElement{
    padding: 40px 0px;
}
.mainButton{
    grid-area: mainButton;
}
.btn-black{
    padding: 10px 24px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 40px;
}

/* Dedicar */
.dedicar{
    display: grid; 
    max-width: 1980px;
    margin: 0 auto;
    height: max-content; 
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    grid-template-areas: 
    "dedicarTitle dedicarTitle "
    "dedicarDiv dedicarImg";
}
.dedicarTitle{
    grid-area: dedicarTitle;
    align-self: center;
}
.dedicarDiv{
    grid-area: dedicarDiv;
    align-self: center;
}
.dedicarImg{
    align-self: center;
    grid-area: dedicarImg;
}
.imgFollow{
    width: 90%;
    max-width: 450px;
}
/* Contacto */
.contact{
    display: grid; 
    max-width: 1980px;
    height: max-content; 
    margin: 0 auto;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    grid-template-areas: 
    "contactImg contactText";
}
.contactImg{
    grid-area: contactImg;
}
.contactText{
    grid-area: contactText;

}
.imgDate{
    max-width: 485px;
    width: 90%;
}

.phone{
    display: grid; 
    max-width: 1980px;
    height: max-content; 
    margin: 0 auto;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    grid-template-areas: 
    " phoneText phoneImg";
}
.phoneImg{
    grid-area: phoneImg;
}
.phoneText{
    grid-area: phoneText;
}
.registrarse{
    display: grid; 
    max-width: 1980px;
    height: max-content; 
    margin: 0 auto;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-template-areas: 
    "registrarseTitle registrarseTitle registrarseBtn"  
    "registrarseText registrarseText registrarseBtn"  ;
}
.registrarseTitle{
    grid-area: registrarseTitle;
}
.registrarseText{
    grid-area: registrarseText;
}
.registrarseBtn{
    grid-area: registrarseBtn;
}
.spacioDown{
    padding-bottom: 64px;;
}
.divTextoMax{
    max-width: 800px;
    width: 100%;
}
.derechaCenter{
    text-align: right;
}
footer{
    display: grid; 
    max-width: 1980px;
    height: max-content; 
    margin: 0 auto;
    grid-template: repeat(1, 1fr) / repeat(6, 1fr);
    grid-template-areas: 
    "col1 col2 col3 col4 col5 col6";
}
.col1{
	grid-area: col1;
}
.col2{
	grid-area: col2;
}
.col3{
	grid-area: col3;
}
.col4{
	grid-area: col4;
}
.col5{
	grid-area: col5;
}
.col6{
	grid-area: col6;
}
 div.footer{
    width: 70%;
}
footer h5, footer img{
    padding-bottom: 24px;
}
footer ul {
    list-style: none;
    padding: 0;
    font-family: 'Inter', sans-serif; 
    font-style: normal;
    font-weight: 400;
}
footer ul > li{
    font-family: 'Inter', sans-serif; 
    font-style: normal;
    font-weight: 400;
    padding-bottom: 24px;
}
